extends layout

block content
  h2 I don't know if I want to really attach my name to a website like this
  img(src='images/borg.jpg')
  p Man, if this page gets catalogued somewhere, and I do end up using it as a portfolio website, I'm fucked.
  p Quick note about this website, nothing really original yet. Styling is all bootstrap prototyping, structure provided by Visual Studio template.