extends layout

block content
h1 a bunch of pictures to test if cache is working properly!

img(src='https://upload.wikimedia.org/wikipedia/en/thumb/a/aa/VoyagerStarship.jpg/250px-VoyagerStarship.jpg')
img(src='http://reachhighermarketing.com/startrek/images/Star%20Trek%20Enterprise%20Ship%201701%202.jpg')
img(src='http://momentumbooks.com.au/wp-content/uploads/2013/07/beauty_1920.jpg')
img(src='https://wallpaperscraft.com/image/star_trek_beyond_2016_starship_109860_3840x2160.jpg')
