extends layout

block content
  h2 Enter something to have it printed out to you! It'll be fun!
  p Entry Form
  form(name="basic" id="basic", method="POST", action="/confirm")
    input(type="text", name="name", id="name")
    input(type="submit", value="send")
