<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">-->
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/respond.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script type='text/javascript'>
        var socket = io();

        $(document).ready(function() {
            socket.on('product', function(data) {
                var records = JSON.parse(JSON.stringify(data));
                console.log(records.length);
                for (var c = 0; c < records.length; c++) {
                    var ReceiveDate = records[c].ReceiveDate;
                    var ExpireDate = records[c].ExpireDate;
                    if (ReceiveDate != null) {
                        ReceiveDate = ReceiveDate.substr(0, ReceiveDate.indexOf('T'));
                    }
                    if (ExpireDate != null) {
                        ExpireDate = ExpireDate.substr(0, ExpireDate.indexOf('T'));
                    }
                    var appendRecord = "<tr>";
                    appendRecord += "<td>" + records[c].ProductId + "</td>";
                    appendRecord += "<td>" + records[c].ProductName + "</td>";
                    appendRecord += "<td>" + records[c].Quantity + "</td>";
                    appendRecord += "<td>" + ReceiveDate + "</td>";
                    appendRecord += "<td>" + ExpireDate + "</td>";
                    appendRecord += "<td>" + records[c].Temperature + "</td>";
                    appendRecord += "<td>" + records[c].StorageId + "</td>";
                    appendRecord += "<td>" + records[c].Comments + "</td>";
                    appendRecord += "</tr>";
                    $('#productTable').append(appendRecord);
                    console.log(appendRecord);
                }
            });


        });
        ////Logout User////
        function logoutUser() {
            $.ajax({
                type: 'GET',
                contentType: 'application/json', //THIS IS NOT OPTIONAL
                url: '/logout',
                success: function(data) {
                    window.location.href = '/login';
                },
                error: function(data) {
                    console.log("Logout failed");
                    console.log(data);
                }
            });
        }

        function newProduct() {
            var data = {};
            data.productName = $('#productName').val();
            data.productQuantity = $('#productQuantity').val();
            data.productReceive = $('#productReceive').val();
            data.productExpire = $('#productExpire').val();
            data.productTemperature = $('#productTemperature').val();
            data.productStorage = $('#productStorage').val();
            data.productComment = $('#productComment').val();
            // $.ajax({
            //     type: 'POST',
            //     data: JSON.stringify(data),
            //     contentType: 'application/json', //THIS IS NOT OPTIONAL
            //     url: '/addProduct',
            //     success: function(data) {
            //         alert("Product added");
            //     }
            // });

            socket.emit('newProduct', data);
            console.log("Submitted new product");
            socket.on('addProductError', function(data) {
                alert("There was a problem adding the product");
            });
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Tekker</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

            <form id="signout" class="form-inline" role="form">
                <button type="button" class="btn btn-danger" onclick="logoutUser()">Logout</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row pt-5">

            <div class="container col-sm-2 text-center">

                <div class="btn-group-vertical">
                    <h2>Actions</h2>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">New Product</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">New Product</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">New Product</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">New Product</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">New Product</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">New Product</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">New Product</button>
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">New Product</button>
                </div>
            </div>

            <div class="container col-sm-10">
                <h2>Database View</h2>
                <table class="table table-bordered table-inverse">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Received</th>
                            <th>Expires</th>
                            <th>Temperature</th>
                            <th>Storage</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody id='productTable'></tbody>
                </table>
            </div>
        </div>

        <!--Footer-->
        <div class="row">
            <div class="container">
                <hr>
                <footer>
                    <p>Learning Experience - Spencer</p>
                </footer>

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">New Product</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button> 
                            </div>
                            <div class="modal-body">
                                <form id="addProduct" class="form" role="form">
                                    <div class="form-group row">
                                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                        <input id="productName" type="text" class="form-control-text" name="productName" value="" placeholder="Product Name">
                                    </div>
                                    <div class="form-group row">
                                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                        <input id="productQuantity" type="text" class="form-control-text" name="productQuantity" value="" placeholder="Quantity">
                                    </div>
                                    <div class="form-group row">
                                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                        <input id="productReceive" type="date" class="form-control-date" name="productReceive" value="" placeholder="Receive Date">
                                    </div>
                                    <div class="form-group row">
                                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                        <input id="productExpire" type="date" class="form-control-date" name="productExpire" value="" placeholder="Expire Date">
                                    </div>
                                    <div class="form-group row">
                                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                        <input id="productTemperature" type="text" class="form-control-text" name="productTemperature" value="" placeholder="Storage Temperature">
                                    </div>
                                    <div class="form-group row">
                                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                        <input id="productStorage" type="text" class="form-control-text" name="productStorage" value="" placeholder="Storage Id">
                                    </div>
                                    <div class="form-group row">
                                        <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                        <input id="productComment" type="text" class="form-control-text" name="productComment" value="" placeholder="Comments">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="newProduct()">Submit</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>