<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">-->
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/respond.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type='text/javascript'>
        var socket = io();

        $(document).ready(function() {
            socket.on('product', function(data) {
                var records = JSON.parse(JSON.stringify(data));
                console.log(records.length);
                for (var c = 0; c < records.length; c++) {
                    var ReceiveDate = records[c].ReceiveDate;
                    var ExpireDate = records[c].ExpireDate;
                    if (ReceiveDate != null) {
                        ReceiveDate = ReceiveDate.substr(0, ReceiveDate.indexOf('T'));
                    }
                    if (ExpireDate != null) {
                        ExpireDate = ExpireDate.substr(0, ExpireDate.indexOf('T'));
                    }
                    var appendRecord = "<tr>";
                    appendRecord += "<td>" + records[c].ProductId + "</td>";
                    appendRecord += "<td>" + records[c].ProductName + "</td>";
                    appendRecord += "<td>" + records[c].Quantity + "</td>";
                    appendRecord += "<td>" + ReceiveDate + "</td>";
                    appendRecord += "<td>" + ExpireDate + "</td>";
                    appendRecord += "<td>" + records[c].Temperature + "</td>";
                    appendRecord += "<td>" + records[c].StorageId + "</td>";
                    appendRecord += "<td>" + records[c].Comments + "</td>";
                    appendRecord += "</tr>";
                    $('#productTable').append(appendRecord);
                    console.log(appendRecord);
                }
            });


        });
        ////Logout User////
        function logoutUser() {
            $.ajax({
                type: 'GET',
                contentType: 'application/json', //THIS IS NOT OPTIONAL
                url: '/logout',
                success: function(data) {
                    window.location.href = '/login';
                },
                error: function(data) {
                    console.log("Logout failed");
                    console.log(data);
                }
            });
        }

        function newProduct() {
            var data = {};
            data.productName = $('#productName').val();
            data.productQuantity = $('#productQuantity').val();
            data.productReceive = $('#productReceive').val();
            data.productExpire = $('#productExpire').val();
            data.productTemperature = $('#productTemperature').val();
            data.productStorage = $('#productStorage').val();
            data.productComment = $('#productComment').val();
            // $.ajax({
            //     type: 'POST',
            //     data: JSON.stringify(data),
            //     contentType: 'application/json', //THIS IS NOT OPTIONAL
            //     url: '/addProduct',
            //     success: function(data) {
            //         alert("Product added");
            //     }
            // });

            socket.emit('newProduct', data);
            console.log("Submitted new product");
            socket.on('addProductError', function(data) {
                alert("There was a problem adding the product");
            });
        }
    </script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#">Tekker</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/login">Login<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form id="signin" class="navbar-form navbar-right" role="form">
                    <button id="logout" type="button" class="btn btn-primary navbar-right" name="Logout" onclick='logoutUser()'>Logout</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container body-content">

        <div class="container">
            <h2>Database View</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Received</th>
                        <th>Expires</th>
                        <th>Temperature</th>
                        <th>Storage</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody id='productTable'>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">New Product</button>

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <form id="addProduct" class="form" role="form">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="productName" type="text" class="form-control" name="productName" value="" placeholder="Product Name">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="productQuantity" type="text" class="form-control" name="productQuantity" value="" placeholder="Quantity">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="productReceive" type="date" class="form-control" name="productReceive" value="" placeholder="Receive Date">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="productExpire" type="date" class="form-control" name="productExpire" value="" placeholder="Expire Date">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="productTemperature" type="text" class="form-control" name="productTemperature" value="" placeholder="Storage Temperature">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="productStorage" type="text" class="form-control" name="productStorage" value="" placeholder="Storage Id">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input id="productComment" type="text" class="form-control" name="productComment" value="" placeholder="Comments">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="newProduct()">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>



        <hr>
        <footer>
            <p>Learning Experience - Spencer</p>
        </footer>
    </div>

</body>

</html>