block content
form(name="getomdb",method='post',action='/response')
    div.input
        input(type="submit",name="delete", value="Example Value")

    div.container
        h3#title
            p#plot