<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Homepage</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">-->
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/respond.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Spencer</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <div class='container mb-5'>
    </div>

    <div class='row'>
        <div class="container col-sm-2">
            <img class='img-fluid' src='/images/nodelogo.svg ' />
            <ul class='list-group'>
                <em>ES6, jQuery, React, HTML5</em>
                <em>NodeJS/ExpressJS</em>
                <em>Microsoft SQL</em>
            </ul>
        </div>
        <div class='container col-sm-6 '>
            <h2>Full Stack Javascript</h2>
            <p>Front end consists of a modern appearance using HTML5 and customized bootstrap, and javascript code built using a growing list of JS frameworks including jQuery and React. This all communicates with a backend NodeJS server powered by ExpressJS.
                The database used is a Microsoft SQL 2014 server. To top it all off, this is all run on a retro computer living in my living room!
            </p>
        </div>
    </div>

</body>

</html>