extends layout

block content
  .jumbotron
    h1 Main Page
    p.lead Website made using Nodejs on the Expressjs framework. Webpages created with #{jadeversion}.
  .row
    .col-md-4.tile
      h2 Get Strapped
      p With BootStrap
    .col-md-4.tile
      h2 Visual Studio
      p Is a pain in the ass when every online tutorial assumes you're using notepad and linux.
    .col-md-4.tile
      h2 Here's an Online Resource
      iframe(width='200' height='200' src="https://www.youtube.com/embed/ghb6eDopW8I?list=FLJ4RP_OmJCNwb4x7tzmEZ_Q" frameborder='2' allowfullscreen)
