<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/respond.js"></script>
    <script type='text/javascript'>
      //exampleOutput();
      //exampleQuery();


       $(function(){				
                $('#select_link').click(function(e){
                    e.preventDefault();
                    console.log('select_link clicked');

          var data = {};
					data.title = "title";
					data.message = "message";
          data.fancy = "See this!";
					
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
				        contentType: 'application/json',
                        url: '/example',						
                        success: function(data) {
                            console.log('success');
                            console.log(JSON.parse(data));
                        }
                    });
            });
       });

    </script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Main</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">DROP ALL TABLES</a></li>
            <li><a href="/chat">Request</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container body-content">

    <div id="select_div"><a href="#" id="select_link">Test</a></div>  
    
      <hr>
      <footer>
        <p>Gotta maintain good HTML5 standards - Foot Of The Page</p>
      </footer>
    </div>

</body>
</html>