<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">-->
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/respond.js"></script>
    <script type='text/javascript'>
        $(document).ready(function() {

        });

        ////Register User////
        function registerUser() {
            var data = {};
            data.username = $('#newUsername').val();
            data.password = $('#newPassword').val();
            data.email = $('#newEmail').val();

            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/registerUser',
                success: function(data) {
                    console.log(data);
                    console.log("Success");
                    $('#register').toggle();
                    alert("User created");
                }

            });
        }

        ////Login User////
        function loginUser() {

            var username = $('#username').val();
            var password = $('#password').val();
            var email = $('#email').val();
            var data = {};
            data.username = username;
            data.email = email;
            data.password = password;

            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json', //THIS IS NOT OPTIONAL
                url: '/loginUser',
                success: function(data) {
                    console.log("User login successful.");
                    console.log(data);
                    window.location.href = '/console';
                    $('#signin').toggle();
                },
                error: function(data) {
                    console.log("Error in login.");
                    console.log(data);
                    $('#myModal').modal("show");

                }
            });
        } //loginUser
    </script>
</head>

<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="#">Tekker</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

            <form id="signin" class="form-inline" role="form">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                    <input id="username" type="text" class="form-control" name="username" value="" placeholder="Username">
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">
                </div>
                <button type="button" class="btn btn-primary" onclick="loginUser()">Login</button>

            </form>
        </div>
    </nav>

    <div class="container py-3 col-lg-3">
        <h1>Register</h1>
        <form id="register" class="form col-m-3" role="form">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input id="newEmail" type="email" class="form-control" name="newEmail" value="" placeholder="Email Address">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                <input id="newUsername" type="text" class="form-control" name="newUsername" value="" placeholder="Username">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input id="newPassword" type="password" class="form-control" name="newPassword" value="" placeholder="Password">
            </div>

            <button type="button" class="btn btn-primary" onclick="registerUser()">Login</button>
        </form>
    </div>

    <hr>
    <footer>
        <p>Learning Experience - Spencer</p>
    </footer>
    <!-- Create failure modal. -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Uh-Oh!</h2>
                </div>
                <div class="modal-body">
                    There was a problem creating your account, please make sure you entered valid information!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>