<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">-->
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/respond.js"></script>
    <script type='text/javascript'>
        $(document).ready(function() {

        });

        ////Register User////
        function registerUser() {
            var data = {};
            data.username = $('#newUsername').val();
            data.password = $('#newPassword').val();
            data.email = $('#newEmail').val();

            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/registerUser',
                success: function(data) {
                    console.log(data);
                    console.log("Success");
                    $('#register').toggle();
                    alert("User created");
                }

            });
        }

        ////Login User////
        function loginUser() {

            var username = $('#username').val();
            var password = $('#password').val();
            var email = $('#email').val();
            var data = {};
            data.username = username;
            data.email = email;
            data.password = password;

            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json', //THIS IS NOT OPTIONAL
                url: '/loginUser',
                success: function(data) {
                    console.log("User login successful.");
                    console.log(data);
                    window.location.href = '/console';
                    $('#signin').toggle();
                },
                error: function(data) {
                    console.log("Error in login.");
                    console.log(data);
                    $('#myModal').modal("show");

                }
            });
        } //loginUser
    </script>
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" href="#">Tekker</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/login">Login<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form id="signin" class="navbar-form navbar-right" role="form">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="username" type="username" class="form-control" name="username" value="" placeholder="Username">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password">
                    </div>
                    <button type="button" class="btn btn-primary" onclick="loginUser()">Login</button>

                </form>

            </div>
        </div>
    </nav>

    <div class="container body-content">
        <form id="register" class="form col-m-3" role="form">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="newEmail" type="email" class="form-control" name="newEmail" value="" placeholder="Email Address">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="newUsername" type="username" class="form-control" name="newUsername" value="" placeholder="Username">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="newPassword" type="password" class="form-control" name="newPassword" value="" placeholder="Password">
            </div>

            <button type="button" class="btn btn-primary" onclick="registerUser()">Login</button>
        </form>

        <hr>
        <footer>
            <p>Learning Experience - Spencer</p>
        </footer>
    </div>

    <!-- Create failure modal. -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Uh-Oh!</h2>
                </div>
                <div class="modal-body">
                    There was a problem creating your account, please make sure you entered valid information!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>