@import url('https://fonts.googleapis.com/css?family=Freckle+Face|Kameron')

body
  padding-top: 50px
  padding-bottom: 20px
  background: #595959

/* Set padding to keep content from hitting the edges */
.body-content
  padding-left: 15px
  padding-right: 15px

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
  max-width: 280px

/* styles for validation helpers */
.field-validation-error
  color: #b94a48

.field-validation-valid
  display: none

input.input-validation-error
  border: 1px solid #b94a48

input[type="checkbox"].input-validation-error
  border: 0 none

.validation-summary-errors
  color: #b94a48

.validation-summary-valid
  display: none

.generic
	color: green
.specific
	color: purple
.body-content
	font-family: 'Kameron', serif
	font-size: 1.2em
.tile
	background-color: #7d7d7d
	margin: 0.1em
	width: 25%
	height: 20em
	transition: width 0.35s, background 0.35s
.tile:hover
	background: #6e6e6e
	width: 33%
	transition: width 0.1s background 0.1s
.jumbotron
	background: #7d7d7d